<!-- Footer start -->
<ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
<!-- home button start -->
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
<!-- home button end -->
 <!-- Explore button start -->
        <ion-tab-button tab="explore">
            <ion-icon name="location"></ion-icon>
            <ion-label>Explore</ion-label>
        </ion-tab-button>
<!-- Explore button end -->
 <!-- Wishlist start -->
        <ion-tab-button tab="wishlist">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Wishlist</ion-label>
        </ion-tab-button>
<!-- Wishlist end -->
 <!-- chat button start -->
        <ion-tab-button tab="chats">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <ion-label>Chat</ion-label>            
        </ion-tab-button>
<!-- chat button end -->
 <!-- profile button start -->
        <ion-tab-button tab="account">
            <ion-icon name="person"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
<!-- profile button end -->
    </ion-tab-bar>
</ion-tabs>
<!-- Footer end -->